<form method="post" action="/admin" class="admin-form basic-border">
    <fieldset class="admin-form-field">
        <legend>Nafn viðburðar</legend>
        <input type="text" name="name" id="name" value="">
    </fieldset>

    <fieldset class="admin-form-field">
        <legend>Lýsing viðburðar</legend>
        <textarea name="description" id="description" value=""></textarea>
    </fieldset>
    <fieldset class="admin-form-field">
        <legend>Bæta við</legend>
        <button>Bæta við!</button>
    </fieldset>
</form>