<form method="post" action="/admin" class="admin-form">
    <div class="admin-form-field">
        <label for="name">Nafn viðburðar</label>
        <input type="text" name="name" id="name" value="">
    </div>

    <div class="admin-form-field">
        <label for="description">Lýsing viðburðar</label>
        <input type="text" name="description" id="description" value="">
    </div>
    <button>Bæta við!</button>
</form>