<%- include('header') -%>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed vel alias accusantium fugit cumque modi repellendus. Repellat animi nihil, voluptates labore tenetur, non saepe nesciunt possimus, cum doloremque quo sit.</p>

<%- include('footer') -%>